body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; /* Set background color to black */
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #333;
    text-align: center; /* Center align the label */
    display: block; /* Make the label a block element */
}

input[type="email"] {
    width: calc(100% - 22px); /* Decrease the width of the input field */
    padding: 10px;
    margin: 0 auto; /* Center the input field */
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: block; /* Make the input field a block element */
}

button {
    display: block;
    width: calc(100% - 22px); /* Decrease the width of the button */
    padding: 10px;
    margin: 0 auto; /* Center the button */
    border: none;
    border-radius: 3px;
    background-color: #da7f00;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Add this rule to change the text color to black */
#cryptoList li {
    color: #000;
}