/* Theme1 Styles */

/* Body */
body {
    background-color: #000000;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar {
    background-color: #da7f00;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.navbar-brand {
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.navbar-nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
}

/* Footer */
footer {
    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Sign Up Page Styles */
.signup-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.signup-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.signup-container label {
    display: block;
    margin-bottom: 10px;
    color: white;
}

.signup-container input[type="text"],
.signup-container input[type="email"],
.signup-container input[type="password"],
.signup-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #ffffff;
    color: #000000;
}

.signup-container input[type="submit"] {
    background-color: #da7f00;
    color: #ffffff;
    cursor: pointer;
}

.signup-container input[type="submit"]:hover {
    background-color: #865108;
}

/* Login Page Styles */
.login-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #000000;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.login-container label {
    display: block;
    margin-bottom: 10px;
    color: white;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.login-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #da7f00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container input[type="submit"]:hover {
    background-color: #865108;
}
